* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
  min-height: 100%;
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
}

section h1 {
  width: 100%;
  padding: 20px 0px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 10px black;
}

section p {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0px 50px;
}

section:nth-child(odd) {
  background-color: palevioletred;
}

section:nth-child(odd) h1 {
  color: lightgray;
  background-color: brown;
}

section:nth-child(odd) p {
  color: yellow;
}

section:nth-child(even) {
  background-color: aquamarine;
}

section:nth-child(even) h1 {
  color: yellow;
  background-color: cadetblue;
}

section:nth-child(even) p {
  color: blueviolet;
}
