* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  gap: 1rem;
  place-items: center;
  background-color: black;
}

/* first button */
.btn-1 {
  padding: 1rem;
  font-size: 1.5rem;
  border-width: 0.25em;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

/* second button */
.btn-2 {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 4em;
  border: 0.25em solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #ffca1a, #108b9b) border-box;
}

/* third button */
.btn-3 {
  padding: 0.25em;
  border-radius: 4em;
  background: linear-gradient(90deg, #ff1af4, #ed7002);
}

.btn-3 > button {
  border: none;
  border-radius: inherit;
  padding: 0.75rem; /* 0.25 parent padding + 0.75 child padding = 1rem actual button padding */
  font-size: 1.5rem;
}
