* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  overflow-y: hidden;
  grid-template-rows: auto 1fr auto;
}

header {
  gap: 1rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  background-color: #2f2f2f;
}

img.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.username {
  font-size: 1.5rem;
}

section.chat-section {
  overflow-y: auto;
}

section.chat-section::-webkit-scrollbar {
  display: none;
}

.chat-container {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  font-size: 1.2rem;
  height: max-content;
}

.chat-container p {
  color: black;
  max-width: 80%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.chat-container p span.hidden {
  display: none;
}

.chat-container p .read-more-btn {
  cursor: pointer;
  color: red;
  display: inline-block;
}

.sent-message {
  justify-self: end;
  background-color: yellowgreen;
}

.received-message {
  justify-self: start;
  background-color: goldenrod;
}

.form-container {
  padding: 0.8rem 0.8rem;
  background-color: #2f2f2f;
}

form {
  gap: 0.5rem;
  display: grid;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 1px solid white;
  grid-template-columns: 1fr auto;
}

.message-input {
  border: 0;
  outline: none;
  color: white;
  overflow: auto;
  user-select: text;
  font-size: 1.2rem;
  max-height: 5.5rem;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 0.5rem;
}

.message-input:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #8e8e93;
}

.message-input::-webkit-scrollbar {
  width: 0.25rem;
}

.message-input::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.message-input::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: #d9d9d9;
}

.send-button {
  border: 0;
  color: gray;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: transparent;
}

.active-button {
  color: white;
}
