* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    height: 125px;
    width: 100%;
    background: white;
    padding: 1rem 2rem;
}

main {
    margin-top: 128px;
    padding: 2rem;
}

body {
    background: linear-gradient(to right top, #0089f2 50%, #ddd 50%);
    background-size: 100% calc(100% - 100vh + 129px);
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 128px;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: white;
}